img{
    width:200px;
    height:auto;
}
button{
    color:blue;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:lightgreen ;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:blue;
}
h1, h2{
    color:blue;
}
div{
    color:blue;
}
